@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#030303] text-white antialiased overflow-x-hidden cursor-none;
    /* Electric Blue Glow Path */
    background-image: radial-gradient(circle at 50% -20%, #0044ff1a, transparent 50%);
  }
}

.eye-catcher-glow {
  box-shadow: 0 0 40px -10px rgba(0, 71, 255, 0.3);
}